/* Typography Styles */

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family);
  font-weight: 700;
  letter-spacing: 0.1em;
}

/* Page Titles */
.page-title {
  color: var(--color-gold);
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 0.15em;
  text-align: center;
  margin-bottom: 48px;
}

@media (min-width: 768px) {
.page-title {
    font-size: 80px;
    letter-spacing: 40px;
    padding-left: 25px;
    padding-right: 5px;
    text-align: center;

  }
}

/* Section Titles */
.section-title {
  color: var(--color-gold);
  font-size: 80px;
  font-weight: 700;
  letter-spacing: 0.12em;
  text-align: center;
  margin-bottom: 48px;
}


@media (min-width: 1024px) {
  .section-title {
    font-size: 100x;
    letter-spacing: 20px;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .section-title {
    font-size: 60px;
  }
}
@media (max-width: 672px) {
  .section-title {
    font-size: 40px;
    letter-spacing: 3px;
  }
}

/* Text Alignment */
.text-center {
  text-align: center;
}

/* Body Text */
.body-text {
  color: var(--color-gold);
  font-size: 16px;
  line-height: 1.7;
}

@media (min-width: 768px) {
  .body-text {
    font-size: 18px;
  }
}

.body-text--large {
  font-size: 18px;
  line-height: 1.7;
  color: var(--color-gold);
}

@media (min-width: 768px) {
  .body-text--large {
    font-size: 70px;
  }
}



/* Text Colors */
.text-navy {
  color: var(--color-navy);
}

.text-cream {
  color: var(--color-cream);
}

.text-gold {
  color: var(--color-gold);
}

.text-white {
  color: var(--color-white);
}

/* Fonts */
@font-face {
  font-family: 'Glacial Indifference';
  src: url('/fonts/GlacialIndifference-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Glacial Indifference';
  src: url('/fonts/GlacialIndifference-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}