/* Typography Styles */

/* Fonts */
@font-face {
  font-family: 'Glacial Indifference';
  src: url('/fonts/GlacialIndifference-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Glacial Indifference';
  src: url('/fonts/GlacialIndifference-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family);
  font-weight: 700;
  letter-spacing: 0.1em;
}

/* Page Titles */
.page-title {
  color: var(--color-gold);
  font-size:60px;
  font-weight: 700;
  letter-spacing: 0.15em;
  text-align: center;
  margin-bottom: 48px;
}

@media (min-width: 768px) {
.page-title {
    font-size: 90px;
    letter-spacing: 40px;
    padding-left: 10px;
    padding-right: 10px;

  }
}

/* Section Titles */
.section-title {
  color: var(--color-gold);
  font-size: 100px;
  font-weight: 700;
  letter-spacing: 0.15em;
  text-align: center;
  margin-bottom: 48px;
}


@media (min-width: 768px) {
  .section-title {
    font-size: 130px;
    letter-spacing: 20px;
    text-align: center;
  }
}

/* Text Colors */
.text-navy {
  color: var(--color-navy);
}

.text-cream {
  color: var(--color-cream);
}

.text-gold {
  color: var(--color-gold);
}

.text-white {
  color: var(--color-white);
}

/* Text Alignment */
.text-center {
  text-align: center;
}

/* Body Text */
.body-text {
  font-size: 16px;
  line-height: 1.7;
}

@media (min-width: 768px) {
  .body-text {
    font-size: 18px;
  }
}

.body-text--large {
  font-size: 18px;
  line-height: 1.7;
}

@media (min-width: 768px) {
  .body-text--large {
    font-size: 70px;
  }
}

/* Brand Statement */
.brand-statement {
  max-width: 80%;
  margin: 0 auto;
  padding: 0 16px;
  font-size: 100px;
}

@media (min-width: 768px) {
  .brand-statement {
    padding: 0 0px;
    width: 66%;
    align-content: center;
  }
}

.brand-statement__text {
  color: var(--color-gold);
  font-size: 9 60px;
  line-height: 0.9;
  letter-spacing: 1px;
  text-align: left;
  text-transform: uppercase;

}

@media (min-width: 768px) {
  .brand-statement__text {
    font-size: 80px;

  }
}
